nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;

  background-color: #333333;
}

nav ul li {
  position: relative;
}

nav ul li a {
  display: block;
  padding: 1rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

nav ul li:hover > a {
  background-color: #555555;
}

nav ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}

nav ul ul li {
  width: 200px;
  border-bottom: 1px solid #555555;
}

nav ul li:hover > ul {
  display: inherit;
}

nav ul ul li a:hover {
  background-color: #666666;
}

nav ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}

nav ul:before,
nav ul:after {
  content: " ";
  display: table;
}

nav ul:after {
  clear: both;
}
