<nav>
  <ul>
    <li><a routerLink="/">Výsledky</a></li>
    <li><a routerLink="/results/Team A">Výsledky- Příbram</a></li>
    <li><a routerLink="/results/Team B">Výsledky - Rudná</a></li>
    <li><a routerLink="/results/Team C">Výsledky - Sparta A</a></li>
    <li><a routerLink="/results/Team A">Výsledky - Sparta B</a></li>
    <li><a routerLink="/results/Team B">Výsledky- Strakonice</a></li>
    <li><a routerLink="/results/Team C">Výsledky - Výběr</a></li>
    <li><a routerLink="/about">O turnaji</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
