<nav id="desktop">
  <ul>
    <li><a routerLink="/">Výsledky</a>
      <ul>
        <li><a routerLink="/">Jednotlivci</a></li>
        <li><a routerLink="/results/Kovohute Pribram">Příbram</a></li>
        <li><a routerLink="/results/Rudna">Rudná</a></li>
        <li><a routerLink="/results/Sparta A">Sparta A</a></li>
        <li><a routerLink="/results/Sparta B">Sparta B</a></li>
        <li><a routerLink="/results/Fezko Strakonice">Strakonice</a></li>
        <li><a routerLink="/results/All stars">Výběr</a></li>
      </ul>
    </li>
    <li><a routerLink="/results">Týmové výsledky</a></li>
    <li><a routerLink="/about">O turnaji</a></li>
  </ul>
</nav>
<input type="checkbox" id="hamburger-input" class="burger-shower" />
<label id="hamburger-menu" for="hamburger-input">
  <nav id="sidebar-menu">
    <h3>Menu</h3>
    <ul>
      <li><a routerLink="/">Jednotlivci</a></li>
      <li><a routerLink="/results/Kovohute Pribram">Příbram</a></li>
      <li><a routerLink="/results/Rudna">Rudná</a></li>
      <li><a routerLink="/results/Sparta A">Sparta A</a></li>
      <li><a routerLink="/results/Sparta B">Sparta B</a></li>
      <li><a routerLink="/results/Fezko Strakonice">Strakonice</a></li>
      <li><a routerLink="/results/All stars">Výběr</a></li>
      <li><a routerLink="/about">O turnaji</a></li>
    </ul>
  </nav>
</label>

<div class="overlay"></div>
<router-outlet></router-outlet>

