<nav>
  <ul>
    <li><a routerLink="/">Výsledky</a>
      <ul>
        <li><a routerLink="/">Jednotlivci</a></li>
        <li><a routerLink="/results/Team A">Příbram</a></li>
        <li><a routerLink="/results/Team B">Rudná</a></li>
        <li><a routerLink="/results/Team C">Sparta A</a></li>
        <li><a routerLink="/results/Team A">Sparta B</a></li>
        <li><a routerLink="/results/Team B">Strakonice</a></li>
        <li><a routerLink="/results/Team C">Výběr</a></li>
      </ul>
    </li>
    <li><a routerLink="/about">O turnaji</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
