<h1>Turnaj k 130. výročí založení Sparty Praha</h1>

<p>
  Dovolujeme si Vás tímto srdečně pozvat na turnaj ke 130. výročí založení Sparty Praha, který se koná v sobotu dne 22.
  dubna 2023 na kuželně KK Konstruktiva Praha.
</p>

<p>
  Hrají šestičlenná družstva 6 x 100 hodů sdružených. Turnaj proběhne dle platných pravidel a soutěžního řádu
  kuželkářského sportu. Hraje se řetězovým způsobem podle pořadí při rozlosování.
</p>
<p>
  Startovné je na náklady hostujícího oddílu.
</p>
<p>
  Pozvané oddíly: Sparta Praha I a II, Kovohutě Příbram, Fezko Strakonice, Sokol Rudná, smíšené družstvo složené z
  mimopražských oddílů.
  Prosíme oddíly, aby přijely alespoň v 8 hráčích a mohli tedy poskytnout dva své reprezentanty pro smíšené družstvo.
</p>

Program:
<ul>
  <li>10:00 - registrace</li>
  <li>10:30 až 18:00 - turnaj</li>
  <li>18:00 - vyhlášení výsledků</li>
</ul>


<p>
  Ceny pro družstva: poháry za 1. až 5. místo.
  Medaile pro smíšené družstvo.
  Ceny pro jednotlivce - věcné ceny dle vlastního výběru dle pořadí.
  Náklady na technické zajištění a ceny hradí pořadatel.
  Občerstvení na náklady účastníků zajištěno.
</p>
